<div class="span3" id="criticsColumn"> 
<h1 class="text-left">YOUR Critics</h1>
</div>   
<div class="span9" id="criticsPool">
<h1 id="genre" data-genre-id="<%=@genre.id%>"><%= @genre.name %></h1>
<ul class="thumbnails">
<% critics.each do |c| %>
  <li class="critic" data-critic-id="<%= c.id %>">
    <div class="thumbnail">
      <h3><%= c.name %></h3>
    </div>
  </li>
<% end %>
</ul>
<div class="btn btn-large disabled pick-critics" id="pickCritics">Pick 'em</div>
</div>