<h1 id="genre" data-genre-id="<%=@genre.id%>"><%= @genre.name %></h1>
<ul class="thumbnails span9">
<% critics.each do |c| %>
  <li class="span3 critic">
    <div class="thumbnail">
      <img src="http://podcre.com/Outros/P.o.s.t.e.r.s/Deposito%20Imagens/NY%20Times%20obit.gif">
      <h3><%= c.name %></h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
<% end %>
</ul>
<div class="btn btn-large disabled pick-critics" id="pickCritics">Pick 'em</div>