body {
	background:url('tiny_grid.png');
}
.hero-unit {
	margin:50px 0;
}

h1 {
	text-align: center;
}

ul, li {
	list-style: none;
}

.critics {
	li {
		margin: 10px;
	}
}

.critic {
	&:hover {
		background-color:lightgrey;
	}
}

.critics-column {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	background-color:grey;
	margin:0;
}

footer {
	clear: both;
	text-align: center;
}

.pick-critics {
	position: fixed;
	bottom: 40px;
	right: 20px;
}

.ajax {
	position: absolute;
left: 50%;
top: 200px;
}